// Space between column elements.  Ignored for .no-gutter
$gutter: 4%;

// Edit this for different column schemes.  Can be 1 - 24.
$numOfColumns: 12;

// Sets the sizes for responsive grids.  Uses min-width, so sm uses 0px - infinity until another breakpoint is reached.  Add and remove as you like.
// Format: breakpoint-prefix: size(any units)
$breakpoints: (sm: 0em, md: 37.5em, lg: 62.5em, xlg: 81.25em);


// Used for odd sizes not supported by the grid scheme.  Add and remove as you like.
// Format: class-name: fraction
$fractionalColumns: (one-third: 1/3, two-thirds: 2/3, one-fifth: 1/5, two-fifths: 2/5, three-fifths: 3/5, four-fifths: 4/5);