<ol>
   <li>
      <a href="#intro">Intro</a>
      <ol type="i">
          <li><a href="#basic_classes">Basic Classes</a></li>
          <li><a href="#units">Units</a></li>
          <li><a href="#standard_grids_vs_responsive_grids">Standard Grids vs Responsive Grids</a></li>
          <li><a href="#parent_based_sizing">Parent-Based Sizing</a></li>
      </ol> 
   </li>

   <li>
       <a href="#customization">Customization</a>
       <ol type="i">
           <li><a href="#editing_flex">Editing flex.scss</a></li>
       </ol>
   </li>

   <li>
       <a href="#tips_and_tricks">Tips and Tricks</a>
       <ol type="i">
           <li><a href="#nesting">Nesting</a></li>
           <li><a href="#full">.full</a></li>
           <li><a href="#column_vs_columns">.column vs .columns</a></li>
           <li><a href="#mix_n_match">Mix 'n Match</a></li>
           <li><a href="#where_to_use">Where To Use?</a></li>
           <li><a href="#set_variables_first">Set Variables First</a></li>
       </ol>
   </li>

   <li><a href="#defaults">Defaults</a></li>

   <li><a href="#compatibility">Compatibility</a></li>
</ol>