<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Flex Grid System {% if page.title %} | {{ page.title }} {% endif %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="css/flex.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700|Raleway:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--<script src="js/matchMedia.js"></script>-->
</head>
<body>
   
   <div id="site_wrapper">
       <div id="header">
           <div id="navbar">
               <div class="logo">
                   <a href="./"><img src="images/logo_b.png" alt=""></a>
               </div>
               <ul class="nav">
                   <li><a href="index.html">Home</a></li>
                   <li><a href="quickstart.html">Quick-Start Guide</a></li>
                   <li><a href="documentation.html">Documentation</a></li>
               </ul>
           </div><!-- /navbar -->
           <div id="banner">
               
           </div><!-- /banner -->
       </div><!-- /header -->
       
       <div id="page_wrapper">
       
           {{ content }}
       
       </div><!-- /page_wrapper -->
       
       <div id="footer">
           <p>The Flex Grid System was created by Caleb Hardin via <a href="https://github.com/dartanian300">his GitHub account</a>.  If you have any questions, please <a href="https://github.com/dartanian300/Flex-Grid-System/issues">contact him via GitHub</a>.</p> 
       </div><!-- /footer -->
       
   </div><!-- /site wrapper -->
   
    
</body>
</html>